{% extends 'admin/base.html.twig' %}

{% block title %}{{ user.fullname }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <a class="btn btn-primary" href="{{ path ('users_index') }}">Retour aux listes</a>
            <div class="col text-center">
                <div class="card-header text-center">
                    <h1>{{ user.fullname }}</h1>
                </div>
            </div>
            <button class="btn btn-primary">Contacter</button>
        </div>
        <div class="container text-center">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Role demandé</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                    {% for role in roles %}
                        <td>{{role.description}}</td>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}