{% extends 'base.html.twig' %}

{% block title %}{{ school.schoolName}}{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-5">Élèves inscrits à {{ school.schoolName}}</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Role</th>
                <th>Discipline</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.fullName }}</td>
                <td>Role</td>
                <td>Discipline</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
