{% extends 'teacher/base.html.twig' %}

{% block title %}Bonjour {{ user.fullName }}{% endblock %}

{% block body %}
    <div class="container mb-3">
        <div class="container">
            <h1 class="my-5">Bienvenue sur le tableau de bord</h1>
            <div class="alert alert-info mt-3">
                <p>Retrouvez ici une vue globale de vos différentes activités</p>
            </div>
            <div class="row text-center">
                <div class="col"><a href="{{ path ('teacher_schools') }}" class="href"><button class="btn btn-info">
                <i class="fas fa-school"></i> Écoles</button></a></div>
                <div class="col"><a href="#" class="href"><button class="btn btn-info">
                <i class="fas fa-user-graduate"></i> Élèves</button></a></div>
                <div class="col"><a href="#" class="href"><button class="btn btn-info"><i class="fas fa-chalkboard-teacher"></i> Cours</button></a></div>
                <div class="col"><a href="#" class="href"><button class="btn btn-info"><i class="fas fa-project-diagram"></i> Projets</button></a></div>
            </div>
        </div>
    </div>


{% endblock %}
