{% extends "base.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
<div class="container">
    <row class="text-center">
        <h1>Bienvenue sur la première ébauche de TiZiK !!</h1>
        <p> le site de l'enseignement de la musique</p>
        <div class="mx-auto margin-top-2">
            <div class="badge badge-pill badge-warning">
            Le site est pour le moment uniquement ouvert aux enseignants qui souhaitent bénéficier d'une application leur permettant de suivre le parcours de leurs élèves.
            </div>
        </div>
    </row>
</div>
{% endblock %}